# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/

# turbo
.turbo/

# env
.env
.env.local
.env.*.local

# supabase
supabase/.branches
supabase/.temp
**/supabase/.branches
**/supabase/.temp

# build
dist/
build/

# testing
coverage/
playwright-report/
test-results/

# misc
.DS_Store
*.log
npm-debug.log*
pnpm-debug.log*
